In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/beginner-regression/sample_submission.csv
/kaggle/input/beginner-regression/train.csv
/kaggle/input/beginner-regression/test.csv

In [2]:
#Reading Data

import pandas as pd
import numpy as np

train_data = pd.read_csv("../input/beginner-regression/train.csv")
train_data.head()

,Customer_ID,No_of_orders_placed,Category_of_customers,Maximum_bill,Minimum_bill,Last_order_placed_date,No_of_issues_raised,Customer_rating,Average_food_rating,Average_happiness_rating,Coupon_consumption_status,Coupons_offered,Premium_membership,Discount_percentage
0,ID0xb02f,129.0,Active,2251.620000,261.26,04/02/2020 11:29 AM,129.0,4,4,4,129.0,215.0,No,34
1,ID0x8cff,NaN,Inactive,-450.457485,98.63,02/22/2016 04:08 AM,NaN,4,4,2,118.0,246.0,No,42
2,ID0xc812,100.0,Passive,1792.660000,144.00,08/23/2018 07:08 PM,100.0,4,4,5,66.0,121.0,No,31
3,ID0xedcd,87.0,Active,2260.730000,192.00,02/03/2020 06:31 AM,87.0,4,4,3,59.0,118.0,No,19
4,ID0x93c3,40.0,Passive,2083.890000,229.13,06/26/2019 01:30 PM,40.0,4,5,2,40.0,50.0,No,21

In [3]:
#Insights

# train_data.describe()
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53802 entries, 0 to 53801
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer_ID                53802 non-null  object
 1   No_of_orders_placed        52227 non-null  float64
 2   Category_of_customers      53802 non-null  object
 3   Maximum_bill               53802 non-null  float64
 4   Minimum_bill               53802 non-null  float64
 5   Last_order_placed_date     53802 non-null  object
 6   No_of_issues_raised        52227 non-null  float64
 7   Customer_rating            53802 non-null  int64
 8   Average_food_rating        53802 non-null  int64
 9   Average_happiness_rating   53802 non-null  int64
 10  Coupon_consumption_status  52766 non-null  float64
 11  Coupons_offered            52233 non-null  float64
 12  Premium_membership         53802 non-null  object
 13  Discount_percentage        53802 non-null  int64
dtypes: float64(6), int64(4), object(4)
memory usage: 5.7+ MB

In [4]:
train_data.describe()

,No_of_orders_placed,Maximum_bill,Minimum_bill,No_of_issues_raised,Customer_rating,Average_food_rating,Average_happiness_rating,Coupon_consumption_status,Coupons_offered,Discount_percentage
count,52227.000000,53802.000000,53802.000000,52227.000000,53802.000000,53802.000000,53802.000000,52766.000000,52233.000000,53802.000000
mean,127.425717,1949.654984,197.730306,127.425717,3.873573,3.695476,3.682447,74.673919,184.338062,36.366585
std,92.353764,1164.927983,82.428997,92.353764,0.641525,0.842041,0.848187,42.240441,97.585717,9.685505
min,-477.349415,-5623.061588,-304.917730,-477.349415,2.000000,1.000000,2.000000,5.000000,15.000000,10.000000
25%,62.000000,1114.447500,135.290000,62.000000,4.000000,3.000000,3.000000,39.000000,88.000000,30.000000
50%,127.000000,1912.030000,193.940000,127.000000,4.000000,4.000000,4.000000,69.000000,205.000000,36.000000
75%,193.000000,2723.627500,255.267500,193.000000,4.000000,4.000000,4.000000,106.000000,268.000000,44.000000
max,724.669533,10147.345902,821.409409,724.669533,5.000000,5.000000,5.000000,170.000000,370.000000,59.000000

In [5]:
train_data.corr()

,No_of_orders_placed,Maximum_bill,Minimum_bill,No_of_issues_raised,Customer_rating,Average_food_rating,Average_happiness_rating,Coupon_consumption_status,Coupons_offered,Discount_percentage
No_of_orders_placed,1.000000,0.060497,0.180897,1.000000,0.000868,0.001824,-0.006820,0.433715,0.741370,0.385199
Maximum_bill,0.060497,1.000000,0.017240,0.060497,0.001732,-0.000665,-0.000890,0.034389,0.100561,0.085619
Minimum_bill,0.180897,0.017240,1.000000,0.180897,-0.002583,0.000265,-0.001820,0.161330,0.244759,0.150425
No_of_issues_raised,1.000000,0.060497,0.180897,1.000000,0.000868,0.001824,-0.006820,0.433715,0.741370,0.385199
Customer_rating,0.000868,0.001732,-0.002583,0.000868,1.000000,-0.003557,-0.001230,0.008624,-0.000417,0.044196
Average_food_rating,0.001824,-0.000665,0.000265,0.001824,-0.003557,1.000000,0.001177,0.002876,-0.001379,-0.007368
Average_happiness_rating,-0.006820,-0.000890,-0.001820,-0.006820,-0.001230,0.001177,1.000000,-0.004942,-0.002922,0.031379
Coupon_consumption_status,0.433715,0.034389,0.161330,0.433715,0.008624,0.002876,-0.004942,1.000000,0.563322,0.310504
Coupons_offered,0.741370,0.100561,0.244759,0.741370,-0.000417,-0.001379,-0.002922,0.563322,1.000000,0.541246
Discount_percentage,0.385199,0.085619,0.150425,0.385199,0.044196,-0.007368,0.031379,0.310504,0.541246,1.000000

In [6]:
# z0=0
# z2=0
# z3=0
# z=0
# for i in range(len(train_data)):
#     if train_data["No_of_orders_placed"].iloc[i]<0:
#         z0+=1
#     if train_data["Maximum_bill"].iloc[i]<0:
#         z2+=1
#     if train_data["Minimum_bill"].iloc[i]<0:
#         z3+=1
#     if abs(train_data["Minimum_bill"].iloc[i])>abs(train_data["Maximum_bill"].iloc[i]):
#         z+=1

# print(z0,z2,z3,z)

# # print(train_data["Coupon_consumption_status"].iloc[0])

In [7]:
#combining coupon offered and consumed as a single feature depicting percentage

# train_data["Coupon_consumption_status"]=train_data["Coupon_consumption_status"]/train_data["Coupons_offered"]
# train_data["Coupon_consumption_status"].head()

train_data["Coupon_consumption_percent"]=[0]*53802

for i in range(len(train_data)):
    x=train_data["Coupon_consumption_status"].iloc[i]
    y=train_data["Coupons_offered"].iloc[i]
    
    if not pd.isna(train_data["Coupons_offered"].iloc[i]):
        if pd.isna(train_data["Coupon_consumption_status"].iloc[i]):
            train_data["Coupon_consumption_percent"].iloc[i]=0
        else:
            train_data["Coupon_consumption_percent"].iloc[i]=x/y        
    else:
        if pd.isna(train_data["Coupon_consumption_status"].iloc[i]):
            train_data["Coupon_consumption_percent"].iloc[i]=0
        else:
            train_data["Coupon_consumption_percent"].iloc[i]=0.5
            
train_data.info()

/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53802 entries, 0 to 53801
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Customer_ID                 53802 non-null  object
 1   No_of_orders_placed         52227 non-null  float64
 2   Category_of_customers       53802 non-null  object
 3   Maximum_bill                53802 non-null  float64
 4   Minimum_bill                53802 non-null  float64
 5   Last_order_placed_date      53802 non-null  object
 6   No_of_issues_raised         52227 non-null  float64
 7   Customer_rating             53802 non-null  int64
 8   Average_food_rating         53802 non-null  int64
 9   Average_happiness_rating    53802 non-null  int64
 10  Coupon_consumption_status   52766 non-null  float64
 11  Coupons_offered             52233 non-null  float64
 12  Premium_membership          53802 non-null  object
 13  Discount_percentage         53802 non-null  int64
 14  Coupon_consumption_percent  53802 non-null  float64
dtypes: float64(7), int64(4), object(4)
memory usage: 6.2+ MB

In [8]:
#Droping Customer_id,"Coupon_consumption_status","Coupons_offered"
#Dropping No_of_issues_raised since it is perfectly correlated to No_of_orders_placed

train_data.drop(columns=["Customer_ID","Coupon_consumption_status","Coupons_offered","No_of_issues_raised"],inplace=True)

#Filling Null values

train_data[["No_of_orders_placed"]]=train_data[["No_of_orders_placed"]].fillna(value=0.0)
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53802 entries, 0 to 53801
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   No_of_orders_placed         53802 non-null  float64
 1   Category_of_customers       53802 non-null  object
 2   Maximum_bill                53802 non-null  float64
 3   Minimum_bill                53802 non-null  float64
 4   Last_order_placed_date      53802 non-null  object
 5   Customer_rating             53802 non-null  int64
 6   Average_food_rating         53802 non-null  int64
 7   Average_happiness_rating    53802 non-null  int64
 8   Premium_membership          53802 non-null  object
 9   Discount_percentage         53802 non-null  int64
 10  Coupon_consumption_percent  53802 non-null  float64
dtypes: float64(4), int64(4), object(3)
memory usage: 4.5+ MB

In [9]:
#converting last_order_date to days
train_data["Last_order_placed_date"]=pd.to_datetime("2021-09-25")-pd.to_datetime(train_data["Last_order_placed_date"])
for i in range(len(train_data)):
    train_data["Last_order_placed_date"].iloc[i]=str(train_data["Last_order_placed_date"].iloc[i]).split()[0]
train_data["Last_order_placed_date"]=pd.to_numeric(train_data["Last_order_placed_date"])
train_data.head()

,No_of_orders_placed,Category_of_customers,Maximum_bill,Minimum_bill,Last_order_placed_date,Customer_rating,Average_food_rating,Average_happiness_rating,Premium_membership,Discount_percentage,Coupon_consumption_percent
0,129.0,Active,2251.620000,261.26,540,4,4,4,No,34,0.600000
1,0.0,Inactive,-450.457485,98.63,2041,4,4,2,No,42,0.479675
2,100.0,Passive,1792.660000,144.00,1128,4,4,5,No,31,0.545455
3,87.0,Active,2260.730000,192.00,599,4,4,3,No,19,0.500000
4,40.0,Passive,2083.890000,229.13,821,4,5,2,No,21,0.800000

In [10]:
#encoding non numeric values

train_data = pd.get_dummies(train_data,prefix=["status","premium"],columns=["Category_of_customers","Premium_membership"])
train_data.head()

,No_of_orders_placed,Maximum_bill,Minimum_bill,Last_order_placed_date,Customer_rating,Average_food_rating,Average_happiness_rating,Discount_percentage,Coupon_consumption_percent,status_Active,status_Inactive,status_Passive,premium_No,premium_Yes
0,129.0,2251.620000,261.26,540,4,4,4,34,0.600000,1,0,0,1,0
1,0.0,-450.457485,98.63,2041,4,4,2,42,0.479675,0,1,0,1,0
2,100.0,1792.660000,144.00,1128,4,4,5,31,0.545455,0,0,1,1,0
3,87.0,2260.730000,192.00,599,4,4,3,19,0.500000,1,0,0,1,0
4,40.0,2083.890000,229.13,821,4,5,2,21,0.800000,0,0,1,1,0

In [11]:
train_data.to_csv("processed_train",index=False)

In [12]:
X=train_data.copy(deep=True)
X.drop(columns=["Discount_percentage"],inplace=True)
y=train_data["Discount_percentage"]

x=X.to_numpy()
y=y.to_numpy()

In [13]:
X.head()

,No_of_orders_placed,Maximum_bill,Minimum_bill,Last_order_placed_date,Customer_rating,Average_food_rating,Average_happiness_rating,Coupon_consumption_percent,status_Active,status_Inactive,status_Passive,premium_No,premium_Yes
0,129.0,2251.620000,261.26,540,4,4,4,0.600000,1,0,0,1,0
1,0.0,-450.457485,98.63,2041,4,4,2,0.479675,0,1,0,1,0
2,100.0,1792.660000,144.00,1128,4,4,5,0.545455,0,0,1,1,0
3,87.0,2260.730000,192.00,599,4,4,3,0.500000,1,0,0,1,0
4,40.0,2083.890000,229.13,821,4,5,2,0.800000,0,0,1,1,0

In [14]:
#train test split

from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.4,random_state=7)
print(len(xtrain),len(xtest),len(ytrain),len(ytest))

32281 21521 32281 21521

In [15]:
from sklearn.metrics import mean_absolute_error as MAE, mean_squared_error as MSE

Mse={}
Mae={}
def evaluate(ypred,y):
    mae=MAE(ypred,y)
    mse=MSE(ypred,y,squared=False)
    print("MSE: ",mse,"\nMAE: ",mae)
    return mse,mae

In [16]:
#linear reg
from sklearn.linear_model import LinearRegression as LR
lr=LR()
lr.fit(xtrain,ytrain)
ypred=lr.predict(xtest)

Mse["LR"],Mae["LR"]=evaluate(ypred,ytest)

MSE:  8.265313959368568
MAE:  6.68096786903073

In [17]:
#lasso reg
from sklearn.linear_model import Lasso
lasso=Lasso()
lasso.fit(xtrain,ytrain)
ypred=lasso.predict(xtest)
Mse["Lasso"],Mae["Lasso"]=evaluate(ypred,ytest)

MSE:  8.894135825930233
MAE:  7.20657897441201

In [18]:
#ridge reg

from sklearn.linear_model import Ridge
ridge=Ridge()
ridge.fit(xtrain,ytrain)
ypred=lasso.predict(xtest)
Mse["Ridge"],Mae["Ridge"]=evaluate(ypred,ytest)

MSE:  8.894135825930233
MAE:  7.20657897441201

In [19]:
#random forest reg

from sklearn.ensemble import RandomForestRegressor as rfr
rf=rfr()
rf.fit(xtrain,ytrain)
ypred=rf.predict(xtest)
Mse["RF"],Mae["RF"]=evaluate(ypred,ytest)
yrf=ypred[:]

MSE:  6.773681473773736
MAE:  5.5567733841364255

In [20]:
#Adaboost reg

from sklearn.ensemble import AdaBoostRegressor
ada=AdaBoostRegressor()
ada.fit(xtrain,ytrain)
ypred=ada.predict(xtest)
Mse["Ada"],Mae["Ada"]=evaluate(ypred,ytest)
yada=ypred[:]

MSE:  7.0746089844523565
MAE:  5.836439821004942

In [21]:
#XGB reg

from xgboost.sklearn import XGBRegressor
xgb=XGBRegressor()
xgb.fit(xtrain,ytrain)
ypred=xgb.predict(xtest)
Mse["XGB"],Mae["XGB"]=evaluate(ypred,ytest)
yxg=ypred[:]

MSE:  6.779122312806257
MAE:  5.55334155840156

In [22]:
#SVR

from sklearn.svm import SVR
svm=SVR()
svm.fit(xtrain,ytrain)
ypred=svm.predict(xtest)
Mse["SVR"],Mae["SVR"]=evaluate(ypred,ytest)

MSE:  8.898011022676753
MAE:  7.149164302845298

In [23]:
#elastic net

from sklearn.linear_model import ElasticNet
en=ElasticNet()
en.fit(xtrain,ytrain)
ypred=en.predict(xtest)
Mse["SVR"],Mae["SVR"]=evaluate(ypred,ytest)

MSE:  8.766752405853211
MAE:  7.108105005752149

In [24]:
#SGD

from sklearn.linear_model import SGDRegressor
sgd=SGDRegressor()
sgd.fit(xtrain,ytrain)
ypred=sgd.predict(xtest)
Mse["SGD"],Mae["SGD"]=evaluate(ypred,ytest)

MSE:  417315952906488.4
MAE:  347533443933806.8

In [25]:
#bayesian ridge

from sklearn.linear_model import BayesianRidge
NB=BayesianRidge()
NB.fit(xtrain,ytrain)
ypred=NB.predict(xtest)
Mse["NB"],Mae["NB"]=evaluate(ypred,ytest)

MSE:  8.265195198978908
MAE:  6.68095539516995

In [26]:
# Finding best regressor

print(sorted(Mse.items(),key=lambda x:x[1]))

print(sorted(Mae.items(),key=lambda x:x[1]))
# print(sort_mae)
# for i in sort_mae:
#     print(i[0],i[1])

[('RF', 6.773681473773736), ('XGB', 6.779122312806257), ('Ada', 7.0746089844523565), ('NB', 8.265195198978908), ('LR', 8.265313959368568), ('SVR', 8.766752405853211), ('Lasso', 8.894135825930233), ('Ridge', 8.894135825930233), ('SGD', 417315952906488.4)]
[('XGB', 5.55334155840156), ('RF', 5.5567733841364255), ('Ada', 5.836439821004942), ('NB', 6.68095539516995), ('LR', 6.68096786903073), ('SVR', 7.108105005752149), ('Lasso', 7.20657897441201), ('Ridge', 7.20657897441201), ('SGD', 347533443933806.8)]

In [27]:
# cross val for RF
from sklearn.model_selection import cross_val_score as cv
reg=rfr()
score=cv(reg,x,y,cv=10,scoring='r2')
print(score)

[0.49508516 0.50972542 0.49459947 0.4943442  0.52856131 0.50925755
 0.49988561 0.49640817 0.49746613 0.5011294 ]

In [28]:
#voting reg


rf=rfr()
xgb=XGBRegressor()
ada=AdaBoostRegressor()
models=[("RF",rf),("XGB",xgb),("ADA",ada)]

from sklearn.ensemble import VotingRegressor as VR
vr=VR(models)
vr.fit(xtrain,ytrain)
ypred=sgd.predict(xtest)
evaluate(ypred,ytest)

MSE:  417315952906488.4
MAE:  347533443933806.8

(417315952906488.4, 347533443933806.8)

In [29]:
#stacking

rf=rfr()
xgb=XGBRegressor()
ada=AdaBoostRegressor()
models=[("RF",rf),("XGB",xgb),("ADA",ada)]

from sklearn.ensemble import StackingRegressor as stack
st=stack(models)
st.fit(xtrain,ytrain)
ypred=st.predict(xtest)
evaluate(ypred,ytest)

MSE:  6.696420958019805
MAE:  5.522090909314437

(6.696420958019805, 5.522090909314437)

In [30]:
ypred=(yxg+yrf+yada)/3
evaluate(ypred,ytest)

MSE:  6.707061868152533
MAE:  5.53813170359014

(6.707061868152533, 5.53813170359014)

In [31]:
from sklearn.ensemble import StackingRegressor as stack
st=stack(models)
st.fit(x,y)
ypred=st.predict(xtest)
evaluate(ypred,ytest)

MSE:  4.890784876817562
MAE:  4.057510630141705

(4.890784876817562, 4.057510630141705)

# **Predictions**

In [32]:
#reading test data

test_data=pd.read_csv("../input/beginner-regression/test.csv")
test_data.head()

,Customer_ID,No_of_orders_placed,Category_of_customers,Maximum_bill,Minimum_bill,Last_order_placed_date,No_of_issues_raised,Customer_rating,Average_food_rating,Average_happiness_rating,Coupon_consumption_status,Coupons_offered,Premium_membership
0,ID0x6d88,NaN,Passive,3107.81,104.180000,08/09/2019 06:47 PM,NaN,4,4,4,78.0,184.0,No
1,ID0xba29,87.0,Passive,1565.53,119.000000,05/01/2019 08:19 PM,87.0,4,4,2,87.0,121.0,Yes
2,ID0xf2e7,209.0,Active,2513.15,113.340000,01/21/2021 03:44 AM,209.0,4,4,4,114.0,256.0,Yes
3,ID0xa1c2,61.0,Passive,2277.55,53.199684,02/26/2019 08:10 AM,61.0,4,5,5,61.0,91.0,No
4,ID0xd67,218.0,Active,3117.99,344.070000,09/30/2020 10:14 AM,218.0,4,3,4,138.0,318.0,No

In [33]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9495 entries, 0 to 9494
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer_ID                9495 non-null   object
 1   No_of_orders_placed        9197 non-null   float64
 2   Category_of_customers      9495 non-null   object
 3   Maximum_bill               9495 non-null   float64
 4   Minimum_bill               9495 non-null   float64
 5   Last_order_placed_date     9495 non-null   object
 6   No_of_issues_raised        9197 non-null   float64
 7   Customer_rating            9495 non-null   int64
 8   Average_food_rating        9495 non-null   int64
 9   Average_happiness_rating   9495 non-null   int64
 10  Coupon_consumption_status  9278 non-null   float64
 11  Coupons_offered            9190 non-null   float64
 12  Premium_membership         9495 non-null   object
dtypes: float64(6), int64(3), object(4)
memory usage: 964.5+ KB

In [34]:
test_data["Coupon_consumption_percent"]=[0]*len(test_data)

for i in range(len(test_data)):
    x=test_data["Coupon_consumption_status"].iloc[i]
    y=test_data["Coupons_offered"].iloc[i]
    
    if not pd.isna(test_data["Coupons_offered"].iloc[i]):
        if pd.isna(test_data["Coupon_consumption_status"].iloc[i]):
            test_data["Coupon_consumption_percent"].iloc[i]=0
        else:
            test_data["Coupon_consumption_percent"].iloc[i]=x/y        
    else:
        if pd.isna(test_data["Coupon_consumption_status"].iloc[i]):
            test_data["Coupon_consumption_percent"].iloc[i]=0
        else:
            test_data["Coupon_consumption_percent"].iloc[i]=0.5
            
test_data.info()

/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9495 entries, 0 to 9494
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Customer_ID                 9495 non-null   object
 1   No_of_orders_placed         9197 non-null   float64
 2   Category_of_customers       9495 non-null   object
 3   Maximum_bill                9495 non-null   float64
 4   Minimum_bill                9495 non-null   float64
 5   Last_order_placed_date      9495 non-null   object
 6   No_of_issues_raised         9197 non-null   float64
 7   Customer_rating             9495 non-null   int64
 8   Average_food_rating         9495 non-null   int64
 9   Average_happiness_rating    9495 non-null   int64
 10  Coupon_consumption_status   9278 non-null   float64
 11  Coupons_offered             9190 non-null   float64
 12  Premium_membership          9495 non-null   object
 13  Coupon_consumption_percent  9495 non-null   float64
dtypes: float64(7), int64(3), object(4)
memory usage: 1.0+ MB

In [35]:
#Droping Customer_id,"Coupon_consumption_status","Coupons_offered"
#Dropping No_of_issues_raised since it is perfectly correlated to No_of_orders_placed

ans=test_data["Customer_ID"].copy(deep=True)
ans=ans.to_frame()

test_data.drop(columns=["Customer_ID","Coupon_consumption_status","Coupons_offered","No_of_issues_raised"],inplace=True)

#Filling Null values

test_data[["No_of_orders_placed"]]=test_data[["No_of_orders_placed"]].fillna(value=0.0)
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9495 entries, 0 to 9494
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   No_of_orders_placed         9495 non-null   float64
 1   Category_of_customers       9495 non-null   object
 2   Maximum_bill                9495 non-null   float64
 3   Minimum_bill                9495 non-null   float64
 4   Last_order_placed_date      9495 non-null   object
 5   Customer_rating             9495 non-null   int64
 6   Average_food_rating         9495 non-null   int64
 7   Average_happiness_rating    9495 non-null   int64
 8   Premium_membership          9495 non-null   object
 9   Coupon_consumption_percent  9495 non-null   float64
dtypes: float64(4), int64(3), object(3)
memory usage: 741.9+ KB

In [36]:
#converting last_order_date to days
test_data["Last_order_placed_date"]=pd.to_datetime("2021-09-25")-pd.to_datetime(test_data["Last_order_placed_date"])
for i in range(len(test_data)):
    test_data["Last_order_placed_date"].iloc[i]=str(test_data["Last_order_placed_date"].iloc[i]).split()[0]
test_data["Last_order_placed_date"]=pd.to_numeric(test_data["Last_order_placed_date"])
test_data.head()

,No_of_orders_placed,Category_of_customers,Maximum_bill,Minimum_bill,Last_order_placed_date,Customer_rating,Average_food_rating,Average_happiness_rating,Premium_membership,Coupon_consumption_percent
0,0.0,Passive,3107.81,104.180000,777,4,4,4,No,0.423913
1,87.0,Passive,1565.53,119.000000,877,4,4,2,Yes,0.719008
2,209.0,Active,2513.15,113.340000,246,4,4,4,Yes,0.445312
3,61.0,Passive,2277.55,53.199684,941,4,5,5,No,0.670330
4,218.0,Active,3117.99,344.070000,359,4,3,4,No,0.433962

In [37]:
#encoding non numeric values

test_data = pd.get_dummies(test_data,prefix=["status","premium"],columns=["Category_of_customers","Premium_membership"])
test_data.head()

,No_of_orders_placed,Maximum_bill,Minimum_bill,Last_order_placed_date,Customer_rating,Average_food_rating,Average_happiness_rating,Coupon_consumption_percent,status_Active,status_Inactive,status_Passive,premium_No,premium_Yes
0,0.0,3107.81,104.180000,777,4,4,4,0.423913,0,0,1,1,0
1,87.0,1565.53,119.000000,877,4,4,2,0.719008,0,0,1,0,1
2,209.0,2513.15,113.340000,246,4,4,4,0.445312,1,0,0,0,1
3,61.0,2277.55,53.199684,941,4,5,5,0.670330,0,0,1,1,0
4,218.0,3117.99,344.070000,359,4,3,4,0.433962,1,0,0,1,0

In [38]:
type(ans)

pandas.core.frame.DataFrame

In [39]:
xt=test_data.to_numpy()
ycap=st.predict(xt)
ans["Discount_percentage"]=ycap
ans.head()
# ans.to_csv("submission.csv",index=False)

  Customer_ID  Discount_percentage
0    ID0x6d88            36.191490
1    ID0xba29            32.466824
2    ID0xf2e7            47.900069
3    ID0xa1c2            31.845808
4     ID0xd67            38.769710

In [40]:
ans.to_csv("submission.csv",index=False)